/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .our_designs .works img {
    height: 530px;
  }

  .our_services .services-img {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .image {
    margin: 0;
  }

  .about div {
    width: 50%;
  }

  .about {
    flex-wrap: nowrap;
  }

  .contact .contact-form {
    flex-wrap: nowrap;
  }

  .hero {
    margin-top: 7.2em;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .our_designs .works img {
    height: 490px;
  }

  .our_services .services-img {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .image {
    margin: 0;
  }

  .about div {
    width: 50%;
  }

  .about {
    flex-wrap: nowrap;
  }

  .contact .contact-form {
    flex-wrap: nowrap;
  }

  .hero {
    margin-top: 7.2em;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  .hero {
    margin-top: 7.2em;
  }

  .about {
    flex-wrap: nowrap;
  }

  .our_services .services-img {
    flex-wrap: nowrap;
  }


  .image {
    height: 250px;
    width: 250px;
  }

  #navbarNav a {
    font-size: .8em;
  }

  .text {
    font-size: 2em;
  }

  .our_designs .works img {
    height: 400px;
  }

  .our_team .image {
    height: 250px;
  }

  .contact-form div {
    margin: auto;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .hero {
    margin-top: 7.2em;
  }

  .about {
    flex-wrap: nowrap;
  }

  .our_services .services-img {
    flex-wrap: nowrap;
  }


  .image {
    height: 250px;
    width: 250px;
  }

  #navbarNav a {
    font-size: .8em;
  }

  .text {
    font-size: 2em;
  }

  .our_designs .works img {
    height: 400px;
  }

  .our_team .image {
    height: 250px;
  }

  .contact-form div {
    margin: auto;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Portrait)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {

  .hero {
    margin-top: 7em;
  }

  .card {
    height: 180px !important;

  }

  .image {
    width: 450px;
    height: 450px;
    margin: auto;
  }

  .our_designs .works img {
    height: 300px;
  }

  .contact-form ul li {
    font-size: 1.4em;
  }

  .contact-form ul {
    padding: 0;
  }

  .contact h1,
  .testimonials h1,
  .our_designs h1,
  .our_team h1,
  .our_services h1 {

    font-size: 2em;
  }

  .container {
    width: 100%;
  }

  .text {
    font-size: 2.5em;
  }

  .footer h4 {
    font-size: small;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {



  .hero {
    margin-top: 7em;
  }

  .card {
    height: 180px !important;

  }

  .image {
    width: 450px;
    height: 450px;
    margin: auto;
  }

  .our_designs .works img {
    height: 300px;
  }

  .contact-form ul li {
    font-size: 1.4em;
  }

  .contact-form ul {
    padding: 0;
  }

  .contact h1,
  .testimonials h1,
  .our_designs h1,
  .our_team h1,
  .our_services h1 {

    font-size: 2em;
  }

  .container {
    width: 100%;
  }

  .text {
    font-size: 2.5em;
  }

  .footer h4 {
    font-size: small;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .about {
    flex-direction: column;
  }

  .hero {
    margin-top: 7em;
  }

  .our_team .carousel-item .card img {
    height: 120px;

  }

  .our_designs .works img {
    height: 130px;
  }

  .contact-form ul li {
    font-size: 1.4em;
  }

  .contact-form ul {
    padding: 0;
  }

  .contact h1,
  .testimonials h1,
  .our_designs h1,
  .our_team h1,
  .our_services h1 {

    font-size: 2em;
  }

  .our_services .services-img {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }


  .image {
    height: 220px;
    width: 300px;
    margin: auto;
  }

  .text {
    font-size: 1.5em;
  }

  .footer h4 {
    font-size: small;
  }
}